<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta name="robots" content="index, follow">
<meta name="keywords" content="tags for website">
<meta name="description" content="{{ description }}">
<meta name="author" content="">

<title> Home - {{ title }} </title>

<!-- injector:css -->
<link rel="stylesheet" href="css/design.min.css">
<!-- endinjector -->

<!-- injector:js -->
<script src="js/min/assets/jquery.min.js"></script>
<script src="js/min/assets/bootstrap.min.js"></script>
<script src="js/min/app.min.js"></script>
<!-- endinjector -->
